#principal{
    width: 946px; 
    margin: auto;
    
  }

#topo{
width: 940px ;
height:200px ;
border: 3px solid black;
padding: 0px;
background-color: white;

}
#topo h1{
text-align: center;
font-size: 70px;
}
#topo h2{
    text-align: right;
}


#menu{
width: 199px ;
height: 700px;
float: left;
background-color: white;
border: 1px solid black;
}

#menu h3{
    text-align: center;
    padding: 10px ;
}

#menu p{
    text-align:left;
    padding: 10px;
}



#conteudo{
width: 540px;
height: 700px;
float: left;
border: 1px solid black;
background-color: white;
}

#conteudo h2{
    text-align: left;
    margin-left: 10px;
}

p{
    margin-left: 15px;
    text-align: left;
}

#banner {
width: 200px ;
height: 700px;
float: left;
border: 1px solid black;
background-color: white;
}


#baixo {
width: 940px ;
height:60px ;
clear: both;
border: 3px solid black;
background-color: white;
}

#baixo p {
    
    margin: 0;
    padding: 0;
}

body{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   font-family: 'Times New Roman', Times, serif;
}
.